ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #3BC3B5;
  }
  
  li {
    float: left;
  }
  
  li a {
    color: white;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 16px;
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #DDEBFC;
    color: rgb(56, 204, 230);
    font-size: 16px;
  }

  .container {

}

.image {
    width:50%;

    margin:0 auto;
    display:block;
}

  #first {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 32px;
  }

  #second {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 20px;
  }

  .table {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 28px;
  }

  #form {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 30px;
  }



  .rsvp {
  width: 190px;
  padding: 10px 10px;
  margin: 50px 25px;
  border: 2px solid rgb(78, 149, 255);
  border-radius: 14px;
}